* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-image: url('https://scontent.fdac20-1.fna.fbcdn.net/v/t39.30808-6/475797839_9755602714457853_4483625152940490837_n.jpg?stp=dst-jpg_s960x960_tt6&_nc_cat=100&ccb=1-7&_nc_sid=2285d6&_nc_eui2=AeG323zjcZkgJ5dW04wQaasDFgJfIvIu2nUWAl8i8i7adZmrvOHn_ET2PyxFrb8Ik1qaZN9nvPI0yKei3hIr3ceA&_nc_ohc=zHX-G8Bkh78Q7kNvgHmSA0X&_nc_oc=AdhUpYj7S9nJwNZoBzZXOI1GfLMlYNu-gscPZRYiuTCAni9sPkgjrl7bUnYrPmQKMfo&_nc_zt=23&_nc_ht=scontent.fdac20-1.fna&_nc_gid=A8UN817o_vJDf7C_YnEeF3g&oh=00_AYCyxqX6YvtTe9dNya-jwmerL_RQxbJbCb34UwkaVTBvmA&oe=67C5159F');
    background-size: cover;
    background-repeat: no-repeat;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

ul {
    display: flex;
    list-style: none;
    justify-content: center;
    max-width: 53%;
    margin: 30px auto;
    background-color: rgb(1, 1, 88);
    padding: 10px;
}

ul li {
    padding: 15px 25px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 600;
    color: aliceblue;

}

ul li.active {
    background-color: green;
    border-radius: 5px;
}

/* Tab Container here */
.tab-content-wrapper {
    width: 53%;
    margin: 0 auto;
    background-color: rgb(171, 209, 242);
    padding: 15px;
}

.tab-content-wrapper h3 {
    text-align: center;
    margin-bottom: 10px;
    font-size: 24px;
}

.tab-content-wrapper p {
    text-align: justify;
    line-height: 24px;
}

.tab-content-wrapper .tab-content {
    display: none;


.tab-content-wrapper .tab-content:first-child {
    display: block;
}